<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51480525440-9aq85i2icn5p0cq9ab5c95pq6tr5tb06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51480525440-9aq85i2icn5p0cq9ab5c95pq6tr5tb06</string>
	<key>API_KEY</key>
	<string>AIzaSyC3QMz42Eo1DUbed_VKLdjY0tDpnM98Bl8</string>
	<key>GCM_SENDER_ID</key>
	<string>51480525440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LifeDemo</string>
	<key>PROJECT_ID</key>
	<string>lifedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>lifedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:51480525440:ios:2aeca5536dec10a977c465</string>
</dict>
</plist>
